<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/index">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CLIENTES</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/agregarCliente.html">Agregar</a>
              <a class="dropdown-item" href="/mostrarListaClientes.html">Mostrar Clientes</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">ID USUARIO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody id="all-persons">

    </tbody>
</table>

  <!-- cartel pop up !!!!
  https://getbootstrap.com/docs/5.3/components/modal/
  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Usuario </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="recipient-name" nombre="nombre">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="guardar()" data-bs-dismiss="modal">Guardar</button> 
        </div>
      </div>
    </div>
  </div>
    <!-- fin del cartel pop up !!!! -->


<script>
    window.onload = function(){
        const token = localStorage.getItem('token');
        if(token){
            const username = localStorage.getItem('username');
            const id = localStorage.getItem('id');
            // document.getElementById("username").innerHTML = username;
        }
        else{
            window.location.href = "login.html";
        }
}



function cargarClientes(){

    const id = localStorage.getItem('id');
    const token = localStorage.getItem('token');
    // console.log('User ID:', id);

    const requestOptions = {
        method : 'GET',
        headers: {
            'Content-Type': 'application/json',
            'x-access-token' : token,
            'user-id' : id,

        }
    }

    fetch( `http://127.0.0.1:4500/user/${id}/client`, requestOptions)
    .then(
        resp => {return resp.json()}
    )

    .then(
            (resp) => {
                console.log(resp)
                const tableBody = document.getElementById('all-persons')
                
                let list = ``;
                resp.forEach(person => {
                    let fila = `<tr id="${person.id}">  
                                <td> ${person.id} </td>
                                <td> ${person.name}</td>
                                <td> ${person.id_user}</td>

                                <td>
                                    <button  onclick="editar(${person.id})" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Editar</button>
                                    <button onclick="eliminar(${person.id})" type="button" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>` //solo usar estas comillas!!
                            list += fila;
                });
                tableBody.innerHTML = list;
            }
        )
    .catch( (error) => { console.log("Promesa rechazada por" , error)})
    .finally( () => { 
        console.log("Promesa finalizada (resuelta o rechazada)")
        //stopLoading()
    })



}

window.onload = cargarClientes;


function eliminar(id){


    // const id = localStorage.getItem('id');
    const token = localStorage.getItem('token');
    // console.log('User ID:', id);

    const requestOptions = {
        method : 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            'x-access-token' : token,
            // 'user-id' : id,

        }
    }

    fetch( `http://127.0.0.1:4500/borrar_cliente/${id}`, requestOptions)
    .then(resp => {
                if (resp.ok) {
                    // Eliminación exitosa, podrías recargar la lista de clientes o realizar otras acciones necesarias.
                    cargarClientes();
                } else {
                    console.log("Error al intentar eliminar el elemento");
                }
            })
            .catch((error) => {
                console.log("Error de red:", error);
            });
            }


        let idEditar; // Variable global para almacenar el ID que se va a editar

        function editar(id) {
            idEditar = id; // Almacena el ID que se va a editar
            const row = document.getElementById(id);
            const nombre = row.children[1].textContent;
            document.getElementById('recipient-name').value = nombre;
        }

        function guardar() {
        const nuevoNombre = document.getElementById('recipient-name').value;
        const token = localStorage.getItem('token');

    if (idEditar !== undefined) {
        const requestOptions = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'x-access-token': token,
            },
            body: JSON.stringify({
                name: nuevoNombre,
            }),
        };

        fetch(`http://127.0.0.1:4500/client/${idEditar}`, requestOptions)
            .then(resp => resp.json())
            .then(data => {
                console.log("Cliente actualizado:", data);
                cargarClientes();

            })
            .catch(error => {
                console.error("Error al actualizar el cliente:", error);
            });
    }
        }
</script>

</div>





<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
